@using TaechIdeas.Alessiodisalvo.Controllers
@{
    ViewBag.Title = "";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/js/transition.js")"></script>

    <script>
        $('body').addClass("index-single index-elements features");
    </script>
}

<a class="cd-primary-nav-trigger menu-effect" id="trigger-menu" href="#0">
    <span class="cd-menu-icon"></span>
</a>

<div id="container" class="container intro-effect-push">

    <div id="travelogue-search" class="travelogue-search">
    </div>

    <header class="header">
        <div class="bg-img">
            <img class="async-image hide" src="/Content/Images/AlessioDiSalvo.jpg" data-src="/Content/Images/AlessioDiSalvo.jpg" alt=""/>
            <div class="overlay hidden" id="overlay"></div>
        </div>
        <div class="title hidden" id="title">
            <h1>Curriculum</h1>
        </div>
    </header>
    <button class="trigger scroll-down-pulse">
        <span>Trigger</span></button>
    <div class="title">
        <h1 class="black">Curriculum</h1>
    </div>
    <article class="content">
        <div>

            <h2 class="text-left black">@Localization.Localize("cvTitle")</h2>
            <p>
                <span class="firstcharacter green">@Localization.Localize("cvSummary1")</span> @Localization.Localize("cvSummary2")</p>

            <h2>@Localization.Localize("SkillsTitle")</h2>
            <p>
                <span class="firstcharacter green">@Localization.Localize("SkillsDesc1")</span>@Localization.Localize("SkillsDesc2")</p>

            <h2 class="text-left black">@Localization.Localize("EducationTitle")</h2>
            <h3>@Localization.Localize("Education1")</h3>
            <ul class="ul">
                <li>@Localization.Localize("Education2")</li>
                <li>@Localization.Localize("Education3")</li>
            </ul>

            <h3>@Localization.Localize("Education4")</h3>
            <ul class="ul">
                <li>@Localization.Localize("Education5")</li>
                <li>@Localization.Localize("Education6")</li>
            </ul>

            <h2 class="text-left black">@Localization.Localize("LanguagesTitle")</h2>
            <ul class="ul">
                <li>@Localization.Localize("Language1")</li>
                <li>@Localization.Localize("Language2")</li>
                <li>@Localization.Localize("Language3")</li>
            </ul>

            @*<blockquote>@Localization.Localize("Quote")</blockquote>*@

            <h2 class="text-left black">@Localization.Localize("Experience")</h2>
            
            <h3>Kigo, Barcelona, Spain</h3>
            <p>
                <a href="http://www.kigo.net" target="_blank">www.kigo.net</a>
            </p>
            <p>@Localization.Localize("KigoTitle")</p>
            <p>
                <span class="firstcharacter green">@Localization.Localize("KigoDesc1")</span>@Localization.Localize("KigoDesc2")
            </p>
            <ul class="ul">
                <li>@Localization.Localize("Kigo1")</li>
                <li>@Localization.Localize("Kigo2")</li>
            </ul>

            <h3>Adazzle, London, U.K.</h3>
            <p>
                <a href="http://www.adazzle.com" target="_blank">www.adazzle.com</a>
            </p>
            <p>@Localization.Localize("AdazzleTitle")</p>
            <p>
                <span class="firstcharacter green">@Localization.Localize("AdazzleDesc1")</span>@Localization.Localize("AdazzleDesc2")
            </p>
            <ul class="ul">
                <li>@Localization.Localize("Adazzle1")</li>
                <li>@Localization.Localize("Adazzle2")</li>
            </ul>

            <h3>Orwell Group, London, U.K.</h3>
            <p>
                <a href="http://www.orwellg.com" target="_blank">www.orwellg.com</a>
            </p>
            <p>@Localization.Localize("OrwellTitle")</p>
            <p>
                <span class="firstcharacter green">@Localization.Localize("OrwellDesc1")</span>@Localization.Localize("OrwellDesc2")</p>
            <ul class="ul">
                <li>@Localization.Localize("Orwell1")</li>
                <li>@Localization.Localize("Orwell2")</li>
            </ul>


            <h3>Kiwari, Milan, Italy</h3>
            <p>
                <a href="http://www.kiwari.it" target="_blank">www.kiwari.it</a>
            </p>
            <p>@Localization.Localize("KiwariTitle")</p>
            <p>
                <span class="firstcharacter green">@Localization.Localize("KiwariDesc1")</span>@Localization.Localize("KiwariDesc2")
            </p>
            <ul class="ul">
                <li>@Localization.Localize("Kiwari1")</li>
                <li>@Localization.Localize("Kiwari2")</li>
                <li>@Localization.Localize("Kiwari3")</li>
            </ul>


            <h3>Auchan Italia S.p.A., Milan, Italy</h3>
            <p>
                <a href="http://www.auchan.it" target="_blank">www.auchan.it</a>
            </p>
            <p>@Localization.Localize("AuchanTitle")</p>
            <p>
                <span class="firstcharacter green">@Localization.Localize("AuchanDesc1")</span>@Localization.Localize("AuchanDesc2")
            </p>
            <ul class="ul">
                <li>@Localization.Localize("Auchan1")</li>
                <li>@Localization.Localize("Auchan2")</li>
                <li>@Localization.Localize("Auchan3")</li>
                <li>@Localization.Localize("Auchan4")</li>
                <li>@Localization.Localize("Auchan5")</li>
                <li>@Localization.Localize("Auchan6")</li>
                <li>@Localization.Localize("Auchan7")</li>
            </ul>

            <h3>32th America’s Cup, Valencia, Spain</h3>
            <p>
                <a href="http://www.americascup.com" target="_blank">www.americascup.com</a>
            </p>
            <p>@Localization.Localize("AcTitle")</p>
            <ul class="ul">
                <li>@Localization.Localize("AcDesc")</li>
            </ul>

            <h2 class="text-left black">@Localization.Localize("PersonalProjectTitle")</h2>
            <p>
            <h3>MyCookin LTD</h3>
            <p>
                <a href="http://www.mycookin.com" target="_blank">www.mycookin.com</a>
            </p>
            <p>@Localization.Localize("MyCookinTitle")</p>
            <p>
                <span class="firstcharacter green">@Localization.Localize("MyCookinDesc1")</span>@Localization.Localize("MyCookinDesc2")
                <ul class="ul">
                    <li>@Localization.Localize("MyCookin1")</li>
                    <li>@Localization.Localize("MyCookin2")</li>
                    <li>@Localization.Localize("MyCookin3")</li>
                    <li>@Localization.Localize("MyCookin4")</li>
                    <li>@Localization.Localize("MyCookin5")</li>
                    <li>@Localization.Localize("MyCookin6")</li>
                    <li>@Localization.Localize("MyCookin7")</li>
                    <li>@Localization.Localize("MyCookin8")</li>
                    <li>@Localization.Localize("MyCookin9")</li>
                    <li>@Localization.Localize("MyCookin10")</li>
                </ul>
            </p>
        </div>
    </article>
</div><!-- /container -->
<div id="st-container" class="st-container"></div>