@using TaechIdeas.Alessiodisalvo.Controllers
@{
    ViewBag.Title = "";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/js/_AboutMeScript.js")"></script>
    <script src="@Url.Content("~/Scripts/js/transition.js")"></script>

    <script>
        $('body').addClass("index-about");
    </script>

}

<div id="container" class="container intro-effect-side">

    <a class="cd-primary-nav-trigger" id="trigger-menu" href="#0">
        <span class="cd-menu-icon"></span>
    </a>

    <!-- BOF: Fancy Search Form (content imported via jQuery: from search-form.html) -->
    <div id="travelogue-search" class="travelogue-search">
    </div>

    <header class="header">
        <div class="bg-img">
            <img class="async-image hide" src="#" data-src="/Content/PhotoCollection/1280/London/LONDON_00021.jpg" alt=""/>

            <div class="overlay hidden" id="overlay"></div>
        </div>
        <div class="title hidden" id="title">
            <h1>About me</h1>
            <p class="subline">@Localization.Localize("Description")</p>
        </div>
    </header>
    <button class="trigger scroll-down-pulse">
        <span>Trigger</span></button>

    <article class="content">
        <div>
            <h1>
                <span class="black">@Localization.Localize("Biography")</span></h1>

            <p>
                @Localization.Localize("p1")
            </p>
            <p >
                @Localization.Localize("p2")
            </p>
            <p >
                @Localization.Localize("p3")
            </p>
            <p >
                @Localization.Localize("p4")
            </p>
            <p >
                @Localization.Localize("p5")
            </p>
            <p >
                @Localization.Localize("p6")
            </p>

        </div>
        <!-- Map holder -->
        <div class="travelogue-product travelogue-container">
            <div class="travelogue-product-wrapper">
                <!-- Map image -->
                <img src="/Content/Images/map.jpg"/>

            </div><!-- End of .travelogue-product-wrapper -->
        </div><!-- End of Map holder -->

    </article>
</div><!-- /container -->
<!-- ### Sidebar Menu ##################################################################### -->
<div id="st-container" class="st-container"></div>