<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Alessio Di Salvo"/>

    <title>alessiodisalvo.it @ViewBag.Title</title>
    <link rel="shortcut icon" href="favicon.ico">

    @Styles.Render("~/bundles/css")

    @RenderSection("css", false)

    @*<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">*@
</head>
<body>

@RenderBody()

@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueries")
@RenderSection("scripts", false)

<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8934535-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga
            .src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
            '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>

<a href="#" class="back-to-top">Top</a>
</body>

</html>